
/* Apply styles to the App container */
.App {
  display: flex;
  flex-direction: column;
  height: 95vh; /* Take the full height of the viewport */
}
h3{
  color: #200053;
  font-size: 19px;
  margin: 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);}
.Navbar h3 {
  color: #c90000;
  font-size: 27px;
  font-weight: bold;
}
/* Apply styles to the Navbar */
.Navbar {
  width: 99%;
  height: 6.5%;
  border-radius: 10px;
  margin:3px;
  padding: 5px;
  background-color: rgb(240, 241, 230); /* Change the color as needed */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
/* Apply styles to the Body container */
.Body {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take the remaining space */
}

/* Apply styles to the MapContainer */
.MapContainer {
  flex: 2.5; /* Take the remaining space */
  background-color: rgb(250, 226, 226);
  height:98%;
  border-radius: 10px;
  margin:2px;

}

/* Apply styles to the content */
.content {
  display: flex;
  flex-direction: row;
  flex: 2.2; /* Take the remaining space */
}

/* Apply styles to the PieChartContainer */
.PieChartContainer {
  background-color: rgb(211, 236, 216);
  border : 1px solid black;
  border-radius: 10px;
  margin:2px;
  flex: 1; /* Take half of the content height */
  /* background-color: rgb(148, 148, 238); */
}

/* Apply styles to the BarChartContainer */
.LineChartContainer {
  border : 1px solid black;
  border-radius: 10px;
  margin:2px;
  flex: 1; /* Take half of the content height */
  background-color: rgb(244, 234, 234); 
}


.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Ensure the buttons appear above the map */
}

#toggleInputButton {
  padding: 0;
  background-color: rgb(127, 125, 125);
  cursor: pointer;
}

#toggleInputButton img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

#carInput {
  margin-top: 5px; /* Adjust the top margin as needed */
}

#showTrajectoryButton {
  margin-top: 5px; /* Adjust the top margin as needed */
}
